body {
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1d29;
    overflow: hidden;
    width: 100%;
  }
  
  .navbar-title {
    color: white;
    font-weight: bold;
    font-size: 22px;
    font-family: kanit;
    margin-left: 20px;
  }
  
  .navbar-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 10px;
  }
  
  .nav-item {
    margin-right: 10px;
  }
  
  .nav-link {
    color: white;
    border-radius: 6px;
    font-family: kanit;
    text-decoration: none;
    display: block;
    padding: 10px;
  }
  
  .nav-link:hover {
    background-color: #383f59;
  }

@font-face {
  font-family: 'fira';
  src: url(fonts/fira.ttf)
}

@font-face {
  font-family: 'kanit';
  src: url(fonts/kanit.ttf)
}

  /* Styling for most smart phones */
@media (min-width: 300px) and (max-width: 450px) {
  .navbar-title {
    font-size: 13px;
  }
  .nav-link {
    font-size: 11px;
    padding: 5px;
  }
}