.mainbodyInstructor {
    padding: 15px;
    font-family: ubu-reg;
    color: white;
    margin-left: auto;
    margin-right: auto;
    background-color: #1a1d29;
    border-radius: 4px;
    width: 40%;
}

.maintitle {
    color: white;
}

.bodytitle {
    font-size: 20px;
    text-align: center;
    font-family: ubu-reg;
}

.Deselector {
    font-family: kanit;
    position: relative;
    top: 15%;
    left: 45%;
    font-size: 20px;
    background-color: #383f59;
    color: white;
    border: white;
}

.tableName {
    font-size: 20px;
    padding: 10px;
}


.Deselector:hover {
    background-color: rgb(46, 43, 43);
}

#button {
    font-family: kanit;
    position: relative;
    background-color: #383f59;
    color: white;
    border: white;
    font-size: 22px;
    left:41%;
}

#button:hover {
    background-color: rgb(46, 43, 43);
}

.displayAttendanceContainer {
    font-size: 20px;
    font-family: kanit;
    color: white;
    background-color: #1a1d29;
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
    width:85%;
    margin-left: auto;
    margin-right: auto;
}

.noStudentsMsg {
    opacity: 60%;
    font-family: ubu-reg;
    font-style: italic;
}

.text {
    font-size: 20px;
    font-family: kanit;
    color: white;
    font-weight: bold;
    margin-left: 40%;
    margin-top: 3%;
}
.center {
    text-align: center;
}
.displayAttendance {
    padding-left: 20px;;
}

.confirmation {
    background-color: rgb(16, 16, 67);
    position: absolute;
    margin-left: 35%;
    font-size: 20px;
    font-family: kanit;
    color: white;
    width:30%;
    top:35%;
}