.mainbodyInstructor {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    font-family: ubu-reg;
    color: white;
    margin-left: auto;
    margin-right: auto;
    background-color: #1a1d29;
    border-radius: 4px;
    width: 40%;
    margin-bottom: 10px;
}

.maintitle {
    color: white;
}

.greenSubmitButton {
    background-color: #1f6e43;
}

.greenSubmitButton:hover {
    background-color: #134429;
}

.bodytitle {
    font-size: 20px;
    text-align: center;
    font-family: ubu-reg;
}

.centerButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.tableName {
    font-size: 20px;
    padding: 10px;
}


.noStudentsMsg {
    opacity: 60%;
    font-family: ubu-reg;
    font-style: italic;
}

.center {
    text-align: center;
}

.displayAttendance {
    padding-left: 20px;;
}

.confirmation {
    background-color: rgb(15, 19, 58);
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    margin-left: 35%;
    font-size: 20px;
    font-family: kanit;
    color: white;
    width:30%;
    top:35%;
}

/* Responsive web design  */
@media (min-width: 800px) {
    .mainbodyInstructor {
        width: 60%;
    }
}

.subWarning {
    font-size: 14px;
    font-family: ubu-reg;
}


@media (min-width: 1200px) {
    .mainbodyInstructor {
        width: 25%;
    }
}

@media (max-width: 700px) {
    .mainbodytitle {
        font-size: 17px;
    }
    .mainbodyInstructor {
        width: 60%;
    }
}

@media (max-width: 400px) and (min-width: 300px) {
    .mainbodytitle {
        font-size: 14px;
        padding-left: 10px;

    }
    .mainbodyInstructor {
        width: 70%;
    }
    .submitButton {
        font-size: 12px;
        padding: 5px;
    }
    h1 {
        font-size: 25px;
    }
}