.signupstyle {
    color: white;
}

h1 {
    font-size: 35px;
    font-family: ubu;
}

.accountButtons {
    font-size: 13px;
}

.redButton {
    background-color: rgb(230, 0, 0);
}

.redButton:hover {
    background-color: rgb(184, 0, 0);
}

.maintitle {
    padding-left: 20px;
}

.mainbody {
    padding: 10px;
    font-family: ubu;
    color: white;
    margin-left: auto;
    margin-right: auto;
    background-color: #1a1d29;
    border-radius: 4px;
    width: 40%;
}

.mainbodytitle {
    padding-left: 18px;
    font-size: 20px;
    padding-right: 18px;
}

.mainbodysubtitle {
    font-family: ubu-reg;
    padding-left: 18px;
    padding-right: 18px;
    font-size: 14px;
}

.verifyButton {
    padding: 10px;
    font-family: ubu;
    border: none;
    background-color: #1f6bdc;
    font-size: 15px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    color: white;
}

.verifyButton:hover {
    background-color: #164ea1;
    color: rgb(183, 183, 183);
}

.emailMessage {
    display: none;
    text-align: center;
    font-size: 15px;
}

@font-face {
    font-family: 'ubu';
    src: url(../fonts/ubu.ttf)
}

@font-face {
    font-family: 'ubu-reg';
    src: url(../fonts/ubu-reg.ttf)
}

@media (min-width: 800px) {
    .mainbody {
        width: 45%;
    }
}

@media (min-width: 1200px) {
    .mainbody {
        width: 25%;
    }
}

@media (max-width: 700px) {
    .mainbodytitle {
        font-size: 17px;
    }
    .mainbody {
        width: 50%;
    }
}

@media (max-width: 400px) and (min-width: 300px) {
    .mainbodytitle {
        font-size: 14px;
        padding-left: 10px;
    }
    .mainbody {
        width: 70%;
    }
}