body {
    margin: 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1d29;
  overflow: hidden;
  width: 100%;
}
  
.navbar-title {
  color: white;
  font-weight: bold;
  font-size: 22px;
  font-family: kanit;
  margin-left: 20px;
}
  
.navbar-nav {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 10px;
}
  
.nav-item {
  margin-right: 10px;
}
  
.nav-link, .disabled {
  color: white;
  border-radius: 6px;
  font-family: kanit;
  text-decoration: none;
  display: block;
  padding: 12px;
}

.nav-link-user, .disabled {
  color: rgb(255, 255, 255);
  border-radius: 6px;
  font-family: kanit;
  text-decoration: none;
  display: block;
  padding: 12px;
  pointer-events: none;
}
  
.nav-link:hover {
    background-color: #383f59;
}

.nav-link.disabled {
  pointer-events: none;
  text-decoration: none;
  opacity: 50%;
}

.nav-link-user.disabled {
  pointer-events: none;
  text-decoration: none;
  opacity: 50%;
}


.profileImg {
  width: 26px;
}

@font-face {
  font-family: 'fira';
  src: url(../fonts/fira.ttf)
}

@font-face {
  font-family: 'kanit';
  src: url(../fonts/kanit.ttf)
}

/* Styling for most smart phones */
@media (min-width: 300px) and (max-width: 450px) {
  .navbar-title {
    font-size: 13px;
  }
  .nav-link {
    font-size: 11px;
    padding: 5px;
  }
}