html {
    background-color: rgb(235, 235, 235);
}

/* NAVBAR STYLING ------------------------------------- */

.navbody {
    margin: 0;
}

/* navbar background */
.topnav {
    overflow: hidden;
    background-color: #940731;
    padding: .5%;
}

/* title styling */
.topnav p {
    position: fixed;
    font-size: 30px;
    font-family: sarabun;
    color: white;
    margin-left: .5%;
    margin-top: .3%;
}

/* navbar link styling */
.topnav a {
    float: right;
    text-decoration: none;
    font-family: sarabun;
    font-size: 19px;
    color: white;
    padding: 12px;
}

.topnav a:hover {
    background-color: #6e0726;
}

.topnav a.active {
    background-color: #6e0726;
}

/* NAVBAR STYLING ------------------------------------- */

@font-face {
    font-family: 'sarabun';
    src: url(fonts/sarabun.ttf)
}